
<form action="/classi" method="POST">
 coursecode: <input type="text" placeholder="coursecode" name="coursecode" class="form-control"> <br />
coursetitle:<input type="text" placeholder="coursetitle" name="coursetitle" class="form-control"><br />
 courseunit: <input type="text"  placeholder="courseunit" name="courseunit" class="form-control"><br />


  
  <button type="submit" class="btn btn-success">Create Acount>></button>
</form>

	