 <!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Course Registration System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="app/views/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="app/views/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="app/views/css/main.css">

        <script src="app/views/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        
      </div>
    </nav>

     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 style= "color:red">Portal<span style="color:green; font-style:italic">pro+</span></h1>
        <h2 style= "color:green">Course Registration</h2>
</div>
</div>

<div class="row">
<div class="col-md-4">
<div class="form-group">

<form action="/Courses" method="POST">

<p><select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> CSS JAVASCRIPT
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select>
</div> </p>

<div class="col-md-4">
<p><select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> CSS JAVASCRIPT
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select></p>
</div>

<div class="col-md-4">
<p><select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> CSS JAVASCRIPT
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select></p>
</div>

<div class="col-md-4">
<select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> CSS JAVASCRIPT
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select>
</div>

<div class="col-md-4">
<p><select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> CSS JAVASCRIPT
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select></p>
</div>

<div class="col-md-4">
<p><select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> 
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select></p>
</div>

<div class="col-md-4">
<p><select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> CSS JAVASCRIPT
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select>
</div>

<div class="col-md-4">
<p><select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> CSS JAVASCRIPT
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select></p>
</div>

<div class="col-md-4">
<p><select>
<option> ASP   </option>
<option> Action Script  </option>
<option> Apple Script   </option> CSS JAVASCRIPT
<option> C   </option>
<option> C#   </option>
<option>  C++  </option>
<option>  CSS  </option>
<option>  Closure  </option>
<option> Diff   </option>
<option>  Erlang  </option>
<option>  Go  </option>
<option>  Graphiz  </option>
<option> Groovy   </option>
<option>  HTML  </option>
<option> Haskell   </option>
<option> JSON   </option>
<option>  Java  </option>
<option> JavaScript   </option>
<option>  LaTex  </option>
<option>  Lisp  </option>
<option> Lua   </option>
<option>  MATLAB  </option>
<option>  Makeup  </option>
<option>  Markdown  </option>
<option>  NAnt Buil  </option>
<option>  OCal  </option>
<option> Objective~C   </option>
<option>  Objective~C ++  </option>
<option> PHP   </option>
<option>  Pearl  </option>
<option>  PlainText  </option>
<option>  Python  </option>
<option>  R  </option>
<option>  Rd  </option>
<option>  RegEx  </option>
<option>  Ruby  </option>
<option>  SQL  </option>
<option>  Scala  </option>
<option>  Shell  </option>
<option>  XML  </option>
</select>
</div>
</div>
</div>
</form>