<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Course Registration System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="app/views/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="app/views/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="app/views/css/main.css">

        <script src="app/views/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        
      </div>
    </nav>

     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 style= "color:red">Portal<span style="color:green; font-style:italic">pro<span style="color:red">+</span></span></h1>

<div class="row">
<div class="col-md-4">

<p><input type="submit" class="btn btn-success" value="Personal Data"><br />
<p><input type="submit" class="btn btn-success"  value="Class Registration"><br />
<p><a href="/courses"><input type="button" class="btn btn-success" value="Course Registration"><br /></a>
<p><a href="/classi"><input type="submit" class="btn btn-success" value="class1"><br /></a>
<p><a href="/classii"><input type="submit" class="btn btn-success" value="class2"><br /></a>
<p><a href="/classiii"><input type="submit" class="btn btn-success" value="class3"><br /></a>
<p><input type="submit" class="btn btn-success" value="I lOve u"><br />

<p>

  <a type="button" class="btn btn-success" href="/">Back to Home</a>
</p>
</div>
</div>
</div>
</div>
</div>
